
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light">

  <div class="card shadow p-4" style="width: 400px;">

    <!-- Sign Up Header -->
    <div class="text-center mb-4">
      <h2 class="fw-bold">Create Account</h2>
      <p class="text-muted">Sign up to get started</p>
    </div>

    <!-- Sign Up Form -->
    <form [formGroup]="signUpForm">

      <!-- Full Name -->
      <div class="mb-3">
        <label for="firstName" class="form-label">
          First Name
        </label>

        <input
          formControlName="firstName"
          type="text"
          id="firstName"
          class="form-control"
          placeholder="Enter your first name"
        />
        <small class="text-danger" *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.controls['firstName'].hasError('required')">First Name is Required</small>
      </div>
      
         <!-- Last Name -->
      <div class="mb-3">
        <label for="lastName" class="form-label">
          Last Name
        </label>

        <input
          formControlName="lastName"
          type="text"
          id="lastName"
          class="form-control"
          placeholder="Enter your Last name"
        />
        <small class="text-danger" *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.controls['lastName'].hasError('required')">Last Name is Required</small>
      </div>
         <!-- Last Name -->
      <div class="mb-3">
        <label for="username" class="form-label">
          UserName
        </label>

        <input
          formControlName="username"
          type="text"
          id="username"
          class="form-control"
          placeholder="Enter your Username"
        />
        <small class="text-danger" *ngIf="signUpForm.controls['username'].dirty && signUpForm.controls['username'].hasError('required')">Username is Required</small>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">
          Email Address
        </label>

        <input
          formControlName="email"
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
        />
         <small class="text-danger" *ngIf="signUpForm.controls['email'].dirty && signUpForm.controls['email'].hasError('required') ">Email is Required</small>
        <small class="text-danger" *ngIf="signUpForm.controls['email'].dirty && signUpForm.controls['email'].hasError('email') ">Enter a valid Email</small>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">
          Password
        </label>

        <input
          formControlName="password"
          type="password"
          id="password"
          class="form-control"
          placeholder="Create a password"
        />
        <small class="text-danger" *ngIf="signUpForm.controls['password'].dirty && signUpForm.controls['password'].hasError('required')">Password is Required</small>
      </div>

      <!-- Confirm Password -->
      <!-- <div class="mb-3">
        <label for="confirmPassword" class="form-label">
          Confirm Password
        </label>

        <input
          formControlName ="confirmPassword"
          type="password"
          id="confirmPassword"
          class="form-control"
          placeholder="Confirm your password"
        />
        <small class="text-danger" *ngIf="signUpForm.controls['confirmPassword'].dirty && signUpForm.controls['confirmPassword'].hasError('required')">Confirm Password is Required</small>
      </div> -->

      <!-- Terms -->
      <div class="form-check mb-4">
        <input
          class="form-check-input"
          type="checkbox"
          id="terms"
        />

        <label class="form-check-label" for="terms">
          I agree to the
          <a href="#" class="text-decoration-none">
            Terms & Conditions
          </a>
        </label>
      </div>

      <!-- Sign Up Button -->
      <div class="d-grid">
        <button (click)="onSignUp()"
          type="submit"
          class="btn btn-primary btn-lg">
          Sign Up
        </button>
      </div>

      <!-- Login Link -->
      <div class="text-center mt-4">
        <span class="text-muted">
          Already have an account?
        </span>

        <a href="#" class="text-decoration-none ms-1">
          Login
        </a>
      </div>

    </form>

  </div>

</div>
```

